{% include lang.html %}

{% capture result_elem %}
<article class="px-1 px-sm-2 px-lg-4 px-xl-3"
  style="border: 1px solid darkslategrey; border-radius: 5px; -moz-border-radius: 5px;">
  <header>
    <h2><a href="{url}">{title}</a></h2>
    {subtitle}
    <div class="post-meta d-flex flex-column flex-sm-row text-muted mt-1 mb-1">
      <div>
        <div>{categories}</div>
        <div>{tags}</div>
      </div>
    </div>
  </header>
</article>
{% endcapture %}

{% capture not_found %}<p class="mt-5">{{ site.data.locales[include.lang].search.no_results }}</p>{% endcapture %}

<script>

  document.addEventListener('DOMContentLoaded', function () {

    fetch('/assets/js/data/search.json')
      .then(response => response.json())
      .then(data => {
        const searchInput = document.getElementById('search-input');
        const resultsContainer = document.getElementById('results-container');

        function performSearch(query) {
          console.log('Performing search with query:', query);
          query = query.toLowerCase();
          const results = [];

          data.forEach(item => {
            const searchableFields = [
              item.title,
              item.subtitle,
              item.content,
              ...item.tags,
              ...item.categories
            ];

            const match = searchableFields.some(field => (field ? field.toLowerCase().includes(query) : false));

            if (match) {
              results.push(item);
            }
          });

          console.log('Search results:', results);

          displayResults(results);

        }

        function displayResults(results) {
          resultsContainer.innerHTML = '';

          if (results.length === 0) {
            resultsContainer.innerHTML = '<li>No results found</li>';
          } else {
            results.forEach(result => {
              const resultDiv = document.createElement('div');

              resultDiv.classList.add("col-md-6");

              const formattedCategories = result.categories.map(category => `${category}`).join(', ');
              const formattedTags = result.tags.map(tag => `${tag}`).join(', ');

              resultDiv.innerHTML = `
              <article class="px-1 px-sm-2 px-lg-4 px-xl-3 mx-1 mx-sm-2 mx-lg-4 mx-xl-3"
                style="border: 1px solid darkslategrey; border-radius: 5px; -moz-border-radius: 5px; margin: 3px;">
                <header>
                  <h2><a href="${result.url}">${result.title}</a></h2>
                  ${result.subtitle}
                  <div class="post-meta d-flex flex-column flex-sm-row text-muted mt-1 mb-1">
                    <div>
                      <div><i class="fa fa-folder fa-fw"></i>&nbsp;${formattedCategories}</div>
                      <div><i class="fa fa-tag fa-fw"></i>&nbsp;${formattedTags}</div>
                    </div>
                  </div>
                </header>
              </article>
            `;

              resultsContainer.appendChild(resultDiv);
            });
          }
        }

        searchInput.addEventListener('input', function () {
          performSearch(this.value);
        });
      })
      .catch(error => {
        console.error('Error loading data:', error);
      });
  });

</script>