---
layout: page
# All the Categories of writeups
---

{% include lang.html %}

{% assign HEAD_PREFIX = 'h_' %}
{% assign LIST_PREFIX = 'l_' %}

{% assign group_index = 0 %}

{% assign sort_categories = '' | split: '' %}

{% for collection in site.collections %}
  {% if collection.label == "writeups" %}
    {% for doc in collection.docs %}
      {% for category in doc.categories %}
        {% unless sort_categories contains category %}
          {% assign sort_categories = sort_categories | toLowerCase: | push: category %}
        {% endunless %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% for category in sort_categories %}
  {% assign category_name = category | toLowerCase: %}
  {% assign posts_of_category = '' | split: '' %}

  {% for collection in site.collections %}
    {% if collection.label == "writeups" %}
      {% for doc in collection.docs %}
        {% if doc.categories contains category_name %}
          {% assign posts_of_category = posts_of_category | push: doc %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% if posts_of_category.size > 0 %}
    <div class="card categories">
      <!-- top-category -->
      <div
        id="{{ HEAD_PREFIX }}{{ group_index }}"
        class="card-header d-flex justify-content-between hide-border-bottom"
      >
        <span class="ms-2">
          <i class="far fa-folder fa-fw"></i>

          {% capture _category_url %}/categories/{{ category_name | slugify | url_encode }}/{% endcapture %}
          <a href="{{ _category_url | relative_url }}" class="mx-2">{{ category_name | toLowerCase: }}</a>

          <!-- content count -->
          <span class="text-muted small font-weight-light">
            {{ posts_of_category.size }}
            {%- if posts_of_category.size > 1 %}
              {{
                site.data.locales[lang].categories.post_measure.plural
                | default: site.data.locales[lang].categories.post_measure
              }}
            {%- else %}
              {{
                site.data.locales[lang].categories.post_measure.singular
                | default: site.data.locales[lang].categories.post_measure
              }}
            {%- endif %}
          </span>
        </span>

        <!-- arrow -->
        <a
          href="#{{ LIST_PREFIX }}{{ group_index }}"
          data-bs-toggle="collapse"
          aria-expanded="true"
          aria-label="{{ HEAD_PREFIX }}{{ group_index }}-trigger"
          class="category-trigger hide-border-bottom"
        >
          <i class="fas fa-fw fa-angle-down"></i>
        </a>
      </div>
      <!-- .card-header -->

      <!-- Sub-categories -->
      <div id="{{ LIST_PREFIX }}{{ group_index }}" class="collapse show" aria-expanded="true">
        <ul class="list-group">
          {% for post in posts_of_category %}
            <li class="list-group-item">
              <i class="far fa-folder fa-fw"></i>

              <a href="{{ post.url | relative_url }}" class="mx-2">{{ post.title }}</a>

              <span class="text-muted small font-weight-light">
                {% include datetime.html date=post.date class='text-muted small text-nowrap' lang=lang %}
              </span>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <!-- .card -->

    {% assign group_index = group_index | plus: 1 %}
  {% endif %}
{% endfor %}
