---
layout: compress
swcache: true
---

[
  {% assign search_items = "" %}
  
  {% for post in site.posts %}
    {% assign post_title = post.title | jsonify %}
    {% assign post_subtitle = post.subtitle | jsonify %}
    {% assign post_url = post.url | relative_url | jsonify %}
    {% assign post_categories = post.categories | jsonify %}
    {% assign post_tags = post.tags | jsonify %}
    {% assign post_date = post.date | date: "%Y-%m-%d" | jsonify %}
    {% assign post_snippet = post.content | strip_html | strip_newlines | truncate: 200 | jsonify %}
    {% assign post_content = post.content | strip_html | strip_newlines | jsonify %}
    
    {% if post.title != null %}
      {% capture post_json %}
        {
          "title": {{ post_title }},
          "subtitle": {{ post_subtitle }},
          "url": {{ post_url }},
          "categories": {{ post_categories }},
          "tags": {{ post_tags }},
          "date": {{ post_date }},
          "snippet": {{ post_snippet }},
          "content": {{ post_content }}
        }
      {% endcapture %}
      
      {% if search_items != "" %}
        {% assign search_items = search_items | append: "," %}
      {% endif %}
      
      {% assign search_items = search_items | append: post_json %}
    {% endif %}
  {% endfor %}
  

  
  {% for collection in site.collections %}
    {% if collection.label == "writeups" %}
      {% for doc in collection.docs %}
        {% if doc.data.searchable != false %}
          {% assign doc_title = doc.title | jsonify %}
          {% assign doc_subtitle = doc.subtitle | jsonify %}
          {% assign doc_url = doc.url | relative_url | jsonify %}
          {% assign doc_categories = doc.categories | jsonify %}
          {% assign doc_category = doc.categories | first | jsonify %}
          {% assign doc_tags = doc.tags | jsonify %}
          {% assign doc_content = doc.content | strip_html | strip_newlines | remove_chars | escape | jsonify %}
          {% assign doc_snippet = doc.content | strip_html | strip_newlines | remove_chars | escape | truncate: 200 | jsonify %}
          
          {% capture doc_json %}
            {
              "title": {{ doc_title }},
              "subtitle": {{ doc_subtitle }},
              "url": {{ doc_url }},
              "category": {{ doc_category }},
              "categories": {{ doc_categories }},
              "tags": {{ doc_tags }},
              "content": {{ doc_content }},
              "snippet": {{ doc_snippet }}
            }
          {% endcapture %}
          
          {% if search_items != "" %}
            {% assign search_items = search_items | append: "," %}
          {% endif %}
          
          {% assign search_items = search_items | append: doc_json %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
  
  {{ search_items | strip }}

]
