---
layout: page
# All the Tags of posts.
---
<div id="tags" class="d-flex flex-wrap mx-xl-2">
  {% assign tagCounts = "" %}
  {% assign tags = '' | split: '' %}
  
  {% for collection in site.collections %}
    {% for doc in collection.docs %}
      {% for tag in doc.tags %}
        {% assign currentCount = 0 %}
        {% assign updatedCount = 0 %}
        {% unless tags contains tag %}
          {% assign tags = tags | push: tag %}
        {% endunless %}
        {% assign tagSlug = tag | slugify | downcase %}
        {% assign currentCount = tagCounts | split: ";" | where: tagSlug, empty | split: ":" | last | default: 0 %}
        {% assign updatedCount = currentCount | plus: 1 %}
        {% assign tagCounts = tagCounts | append: tagSlug | append: ":" | append: updatedCount | append: ";" %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
  
  {% for t in tags %}
    {% assign tagSlug = t | slugify | downcase %}
    <div>
      <a class="tag" href="{{ tagSlug | url_encode | prepend: '/tags/' | append: '/' | relative_url }}">
        {{ t }}
        <span class="text-muted">{{ tagCounts | split: ";" | where_exp: "tagPair", "tagPair contains tagSlug" | first | split: ":" | last | default: 0 }}</span>
      </a>
    </div>
  {% endfor %}
</div>
